USE [HRIS]
GO
/****** Object:  Table [dbo].[Absensi]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absensi](
	[FingerID] [nvarchar](50) NOT NULL,
	[TglKerja] [datetime] NOT NULL,
	[TglJamIn] [datetime] NULL,
	[TglJamOut] [datetime] NULL,
	[KetIn] [nvarchar](850) NULL,
	[TransaksiIn] [nvarchar](50) NULL,
	[UpdateInBy] [nvarchar](50) NULL,
	[UpdateInDate] [datetime] NULL,
	[KetOut] [nvarchar](850) NULL,
	[TransaksiOut] [nvarchar](50) NULL,
	[UpdateOutBy] [nvarchar](50) NULL,
	[UpdateOutDate] [datetime] NULL,
	[TingkatTLM] [nvarchar](50) NULL,
	[TotalTLM] [float] NULL,
	[TotalPSW] [float] NULL,
	[TingkatPSW] [nvarchar](50) NULL,
	[IsInValid] [nvarchar](1) NULL,
	[isOutValid] [nvarchar](1) NULL,
	[AwalTLM] [float] NULL,
	[PersenPotTLM] [float] NULL,
	[PersenPotPSW] [float] NULL,
	[TglJamBakuIn] [datetime] NULL,
	[TglJamBakuOut] [datetime] NULL,
	[TransaksiIDFrom] [nvarchar](250) NULL,
	[PendukungIN] [nvarchar](50) NULL,
	[PendukungOut] [nvarchar](50) NULL,
	[HistoryTransaksiIn] [nvarchar](450) NULL,
	[HistoryTransaksiOut] [nvarchar](450) NULL,
	[StatusUM] [int] NULL,
 CONSTRAINT [PK_Absensi] PRIMARY KEY CLUSTERED 
(
	[FingerID] ASC,
	[TglKerja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Absensibackup]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absensibackup](
	[FingerID] [nvarchar](50) NOT NULL,
	[TglKerja] [datetime] NOT NULL,
	[TglJamIn] [datetime] NULL,
	[TglJamOut] [datetime] NULL,
	[KetIn] [nvarchar](450) NULL,
	[TransaksiIn] [nvarchar](50) NULL,
	[UpdateInBy] [nvarchar](50) NULL,
	[UpdateInDate] [datetime] NULL,
	[KetOut] [nvarchar](450) NULL,
	[TransaksiOut] [nvarchar](50) NULL,
	[UpdateOutBy] [nvarchar](50) NULL,
	[UpdateOutDate] [datetime] NULL,
	[TingkatTLM] [nvarchar](50) NULL,
	[TotalTLM] [float] NULL,
	[TotalPSW] [float] NULL,
	[TingkatPSW] [nvarchar](50) NULL,
	[IsInValid] [nvarchar](1) NULL,
	[isOutValid] [nvarchar](1) NULL,
	[AwalTLM] [float] NULL,
	[PersenPotTLM] [float] NULL,
	[PersenPotPSW] [float] NULL,
	[TglJamBakuIn] [datetime] NULL,
	[TglJamBakuOut] [datetime] NULL,
	[TransaksiIDFrom] [nvarchar](50) NULL,
	[PendukungIN] [nvarchar](50) NULL,
	[PendukungOut] [nvarchar](50) NULL,
	[HistoryTransaksiIn] [nvarchar](450) NULL,
	[HistoryTransaksiOut] [nvarchar](450) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AbsensiTemp]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AbsensiTemp](
	[FingerID] [nvarchar](50) NOT NULL,
	[TglKerja] [datetime] NOT NULL,
	[TglJamIn] [datetime] NULL,
	[TglJamOut] [datetime] NULL,
	[KetIn] [varchar](450) NULL,
	[TransaksiIn] [nvarchar](50) NULL,
	[UpdateInBy] [nvarchar](50) NULL,
	[UpdateInDate] [datetime] NULL,
	[KetOut] [nvarchar](450) NULL,
	[TransaksiOut] [nvarchar](50) NULL,
	[UpdateOutBy] [nvarchar](50) NULL,
	[UpdateOutDate] [datetime] NULL,
	[TingkatTLM] [nvarchar](50) NULL,
	[TotalTLM] [float] NULL,
	[TotalPSW] [float] NULL,
	[TingkatPSW] [nvarchar](50) NULL,
	[IsInValid] [nvarchar](1) NULL,
	[isOutValid] [nvarchar](1) NULL,
	[AwalTLM] [float] NULL,
	[PersenPotTLM] [float] NULL,
	[PersenPotPSW] [float] NULL,
	[TglJamBakuIn] [datetime] NULL,
	[TglJamBakuOut] [datetime] NULL,
	[TransaksiIDFrom] [nvarchar](50) NULL,
	[PendukungIN] [nvarchar](50) NULL,
	[PendukungOut] [nvarchar](50) NULL,
	[HistoryTransaksiIn] [nvarchar](450) NULL,
	[HistoryTransaksiOut] [nvarchar](450) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BukuHarianHead]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BukuHarianHead](
	[GUID] [nvarchar](100) NULL,
	[JabatanID] [int] NULL,
	[NIP] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[Diskripsi] [nvarchar](350) NULL,
	[AK] [float] NULL,
	[Qty] [float] NULL,
	[Gol] [nvarchar](10) NULL,
	[GolParent] [nvarchar](10) NULL,
	[Biaya] [float] NULL,
	[Unsur] [nvarchar](50) NULL,
	[TglMulai] [date] NOT NULL,
	[GUIDSKPPeg] [nvarchar](100) NULL,
	[SatuanQty] [nvarchar](50) NULL,
	[Keterangan] [nvarchar](350) NULL,
	[UpdateDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[NIPParent] [nvarchar](50) NULL,
	[JabatanIDParent] [int] NULL,
	[Status] [int] NULL,
	[KeteranganPengajuan] [nvarchar](150) NULL,
 CONSTRAINT [PK_BukuHarianHead] PRIMARY KEY CLUSTERED 
(
	[NIP] ASC,
	[ItemID] ASC,
	[TglMulai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DinasLuar]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinasLuar](
	[FingerID] [nvarchar](50) NULL,
	[TglAwaldinasLuar] [datetime] NULL,
	[TglAkhirDinasLuar] [datetime] NULL,
	[KeteranganDinasLuar] [nvarchar](450) NULL,
	[TransaksiID] [nvarchar](50) NOT NULL,
	[PenempatanDinasLuar] [nvarchar](350) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[Transaksi] [nvarchar](50) NULL,
	[Pendukung] [nvarchar](50) NULL,
	[Nosurat] [nvarchar](250) NULL,
	[StatusUM] [int] NULL,
	[GUIDSprin] [nvarchar](100) NULL,
	[Jenis] [nvarchar](10) NULL,
	[TglAwalSurat] [date] NULL,
	[TglAkhirSurat] [date] NULL,
	[NamaFile] [nvarchar](100) NULL,
	[TglEmail] [datetime] NULL,
	[Tipe] [int] NULL,
 CONSTRAINT [PK_DinasLuar] PRIMARY KEY CLUSTERED 
(
	[TransaksiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DRH]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRH](
	[IDTransaksi] [int] IDENTITY(1,1) NOT NULL,
	[GUIDTransaksi] [nvarchar](50) NULL,
	[NIP] [nvarchar](50) NULL,
	[TglMulai] [date] NULL,
	[JabatanID] [int] NULL,
	[NoSK] [nvarchar](150) NULL,
 CONSTRAINT [PK_DRH] PRIMARY KEY CLUSTERED 
(
	[IDTransaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HakAksesForm]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HakAksesForm](
	[NIP] [nvarchar](20) NOT NULL,
	[FormID] [nvarchar](50) NOT NULL,
	[isAkses] [nvarchar](5) NULL,
	[TypeAkses] [nvarchar](5) NULL,
	[IdUnitKerja] [nvarchar](5) NULL,
	[Modul] [nvarchar](50) NULL,
	[Updateby] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_HakAksesForm] PRIMARY KEY CLUSTERED 
(
	[NIP] ASC,
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HakAksesTypeSprin]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HakAksesTypeSprin](
	[NIP] [nvarchar](20) NULL,
	[TypeSprinID] [nvarchar](20) NULL,
	[TypeAkses] [nvarchar](2) NULL,
	[UpdateBy] [nvarchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kalender]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kalender](
	[Tgl] [datetime] NOT NULL,
	[IsLibur] [nvarchar](1) NULL,
	[Ket] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Kalender] PRIMARY KEY CLUSTERED 
(
	[Tgl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lembur]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lembur](
	[fingerid] [nvarchar](50) NULL,
	[tglkerja] [date] NULL,
	[jamin] [datetime] NULL,
	[jamout] [datetime] NULL,
	[Updateby] [nvarchar](50) NULL,
	[Updatedate] [datetime] NULL,
	[keterangan] [nvarchar](50) NULL,
	[nosurat] [nvarchar](50) NULL,
	[jambakuin] [datetime] NULL,
	[jambakuout] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogActivity]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogActivity](
	[GUIDLog] [nvarchar](100) NULL,
	[Trx] [nvarchar](50) NULL,
	[Activity] [nvarchar](50) NULL,
	[StatusID] [int] NULL,
	[NIP] [nvarchar](50) NULL,
	[ActivityDate] [date] NULL,
	[Note] [nvarchar](150) NULL,
	[Tempat] [nvarchar](150) NULL,
	[Perihal] [nvarchar](150) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[GUIDTim] [nvarchar](50) NULL,
	[Fungsional] [nvarchar](50) NULL,
	[IDUnitKerja] [nvarchar](50) NULL,
	[TglClosing] [date] NULL,
	[shift1] [int] NULL,
	[shift2] [int] NULL,
	[Pengganti] [int] NULL,
	[StatusTrx] [nvarchar](50) NULL,
	[ketUpdate] [nvarchar](250) NULL,
	[NIPPengganti] [nvarchar](50) NULL,
	[Biaya] [float] NULL,
	[Qty] [float] NULL,
	[SatuanQty] [nvarchar](50) NULL,
	[Shift] [nvarchar](5) NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransacForm] [nvarchar](50) NULL,
	[TglJamIn] [datetime] NULL,
	[TglJamOut] [datetime] NULL,
	[TglJamBakuIn] [datetime] NULL,
	[TglJamBakuOut] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogActivityBackUp]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogActivityBackUp](
	[GUIDLog] [nvarchar](100) NULL,
	[Trx] [nvarchar](50) NULL,
	[Activity] [nvarchar](50) NULL,
	[StatusID] [int] NULL,
	[NIP] [nvarchar](50) NULL,
	[ActivityDate] [date] NULL,
	[Note] [nvarchar](150) NULL,
	[Tempat] [nvarchar](150) NULL,
	[Perihal] [nvarchar](150) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[GUIDTim] [nvarchar](50) NULL,
	[Fungsional] [nvarchar](50) NULL,
	[IDUnitKerja] [nvarchar](50) NULL,
	[TglClosing] [date] NULL,
	[shift1] [int] NULL,
	[shift2] [int] NULL,
	[Pengganti] [int] NULL,
	[IDBackUp] [bigint] IDENTITY(1,1) NOT NULL,
	[BackUpdate] [datetime] NULL,
	[GUIDBackUp] [nvarchar](50) NULL,
	[KetUpdate] [nvarchar](250) NULL,
	[NIPPengganti] [nvarchar](50) NULL,
	[StatusTrx] [nvarchar](50) NULL,
	[Shift] [nvarchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogTransaksi]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTransaksi](
	[GUIDSKPPeg] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[IDTransac] [bigint] IDENTITY(1,1) NOT NULL,
	[Transaksi] [nvarchar](50) NULL,
	[Activity] [nvarchar](50) NULL,
	[NIP] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MediaInformasi]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaInformasi](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[trx] [nvarchar](50) NULL,
	[NamaFile] [nvarchar](100) NULL,
	[Diskripsi] [nvarchar](250) NULL,
	[PublishDateStart] [date] NULL,
	[PublishDateEnd] [date] NULL,
	[IsAktif] [nvarchar](5) NULL,
	[PIC] [nvarchar](150) NULL,
	[Alamat] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFClass]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFClass](
	[ClassID] [int] NULL,
	[Tunjangan] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[TglMulai] [datetime] NULL,
	[DokReff] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFConfig]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFConfig](
	[TransacID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigName] [nvarchar](50) NULL,
	[TglJam1] [datetime] NULL,
	[TglJam2] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFEmailSend]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFEmailSend](
	[EmailSend] [nvarchar](50) NULL,
	[PassSend] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[updateDate] [datetime] NULL,
	[smtpsend] [nvarchar](50) NULL,
	[portsend] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFEselon]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFEselon](
	[eselon] [nvarchar](50) NULL,
	[UrutEselon] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFFieldCari]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFFieldCari](
	[TypeCari] [nvarchar](50) NULL,
	[FieldID] [nvarchar](50) NULL,
	[FieldName] [nvarchar](50) NULL,
	[IsCmb] [nvarchar](5) NULL,
	[NoUrut] [int] NULL,
	[Aplikasi] [nvarchar](50) NULL,
	[TransacID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MFFieldCari] PRIMARY KEY CLUSTERED 
(
	[TransacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFForm]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFForm](
	[FormID] [nvarchar](50) NULL,
	[Formname] [nvarchar](70) NULL,
	[FormType] [nvarchar](20) NULL,
	[Nourut] [int] NULL,
	[Berkas] [nvarchar](50) NULL,
	[PanelPage] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](50) NULL,
	[NoUrutPanel] [int] NULL,
	[Modul] [nvarchar](50) NULL,
	[parentForm] [nvarchar](50) NULL,
	[Model] [int] NULL,
	[IconFA] [nvarchar](50) NULL,
	[HirarkiLvl] [int] NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MFForm] PRIMARY KEY CLUSTERED 
(
	[TransacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFGol]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFGol](
	[Gol] [nvarchar](50) NULL,
	[Pangkat] [nvarchar](50) NULL,
	[Urutan] [int] NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupGol] [nvarchar](2) NULL,
 CONSTRAINT [PK_MFGol] PRIMARY KEY CLUSTERED 
(
	[TransacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFGroupJabatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFGroupJabatan](
	[GroupJabatan] [nvarchar](50) NULL,
	[IDGroupJabatan] [int] NOT NULL,
 CONSTRAINT [PK_MFGroupJabatan] PRIMARY KEY CLUSTERED 
(
	[IDGroupJabatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFHostNameFP]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFHostNameFP](
	[HostNameFP] [nvarchar](50) NULL,
	[IDUnitKerja] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFJabatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFJabatan](
	[JabatanID] [int] NOT NULL,
	[NamaJabatan] [nvarchar](100) NULL,
	[ParentID] [int] NULL,
	[UrutJabatan] [int] NULL,
	[IsUse] [nvarchar](2) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[TypeJabatan] [nvarchar](10) NULL,
	[IDGroupJabatan] [int] NULL,
	[JabatanIDOld] [int] NULL,
	[IDSubGroupJabatan] [int] NULL,
 CONSTRAINT [PK_MFJabatan] PRIMARY KEY CLUSTERED 
(
	[JabatanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFJabatanKegiatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFJabatanKegiatan](
	[JabatanID] [int] NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[Diskripsi] [nvarchar](500) NULL,
	[AK] [float] NULL,
	[Qty] [float] NULL,
	[Mutu] [float] NULL,
	[Waktu] [int] NULL,
	[Biaya] [float] NULL,
	[Type] [int] NULL,
	[Unsur] [int] NULL,
	[SatuanQty] [nvarchar](50) NULL,
	[SatuanMutu] [nvarchar](50) NULL,
	[SatuanWaktu] [nvarchar](50) NULL,
 CONSTRAINT [PK_MFJabatanKegiatan] PRIMARY KEY CLUSTERED 
(
	[JabatanID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFJamKerja]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFJamKerja](
	[StdJamIn] [datetime] NULL,
	[StdJamOut] [datetime] NULL,
	[TglMulaiBerlaku] [datetime] NULL,
	[Shift] [nvarchar](50) NULL,
	[IDJKerja] [int] IDENTITY(1,1) NOT NULL,
	[Agenda] [nvarchar](50) NULL,
	[PenggantianTLM1] [nvarchar](5) NULL,
	[Updateby] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[ShiftKerja] [nvarchar](2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFJobList]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFJobList](
	[GroupJabatan] [nvarchar](50) NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[Diskripsi] [nvarchar](500) NULL,
	[AK] [float] NULL,
	[Qty] [float] NULL,
	[Mutu] [float] NULL,
	[Waktu] [float] NULL,
	[Biaya] [float] NULL,
 CONSTRAINT [PK_MFJobList] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFKlasifikasiSurat]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFKlasifikasiSurat](
	[KlasifikasiID] [nvarchar](5) NULL,
	[KlasifikasiName] [nvarchar](50) NULL,
	[TypeSprinID] [nvarchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFLoadFinger]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFLoadFinger](
	[StartFinger] [datetime] NULL,
	[EndFinger] [datetime] NULL,
	[TglMulaiBerlaku] [date] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[TransaksiID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftKerja] [nvarchar](2) NULL,
	[StartFingerOut] [datetime] NULL,
	[EndFingerOut] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFOrgzSiaga]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFOrgzSiaga](
	[IDOrgzSiaga] [int] NULL,
	[Fungsional] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
	[UrutFungsional] [float] NULL,
	[Description] [nvarchar](50) NULL,
	[Inisial] [nvarchar](2) NULL,
	[Flag] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFPot]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFPot](
	[IDPot] [int] IDENTITY(1,1) NOT NULL,
	[Kategori] [nvarchar](50) NULL,
	[Tingkat] [nvarchar](50) NULL,
	[PersenPot] [float] NULL,
	[TglMulai] [datetime] NULL,
	[RangeAwal] [float] NULL,
	[RangeAkhir] [float] NULL,
	[NamaPot] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsPendukung] [nvarchar](2) NULL,
	[Tindakan] [nvarchar](250) NULL,
	[DurasiPot] [float] NULL,
	[SatuanDurasi] [nvarchar](10) NULL,
 CONSTRAINT [PK_MFPot] PRIMARY KEY CLUSTERED 
(
	[IDPot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFPotongan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFPotongan](
	[IDPot] [int] IDENTITY(1,1) NOT NULL,
	[Kategori] [nvarchar](50) NULL,
	[Tingkat] [nvarchar](50) NULL,
	[PersenPot] [float] NULL,
	[TglMulai] [datetime] NULL,
	[RangeAwal] [float] NULL,
	[RangeAkhir] [float] NULL,
	[NamaPot] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsPendukung] [nvarchar](2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFPriorityTransaksi]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFPriorityTransaksi](
	[Modul] [nvarchar](50) NULL,
	[PriorityTransaksi] [int] NULL,
	[Transaksi] [nvarchar](50) NULL,
	[InisialTransaksi] [nvarchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFSatuan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFSatuan](
	[Activity] [nvarchar](50) NULL,
	[Satuan] [nvarchar](50) NULL,
	[Parameter] [nvarchar](50) NULL,
	[UrutSatuan] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFShift]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFShift](
	[ShiftID] [nvarchar](10) NULL,
	[NamaShift] [nvarchar](50) NULL,
	[Jadwal] [nvarchar](50) NULL,
	[StartShift] [datetime] NULL,
	[EndShift] [datetime] NULL,
	[TglMulaiBerlaku] [date] NULL,
	[TransaksiID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFStatus]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFStatus](
	[StatusID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[bgStatus] [nvarchar](50) NULL,
	[AlertStatus] [nvarchar](50) NULL,
	[SpanStatusLogJob] [nvarchar](50) NULL,
	[StatusLogJob] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFSU]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFSU](
	[NIP] [nvarchar](50) NULL,
	[Pass] [nvarchar](50) NULL,
	[Nama] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFSubGroupJabatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFSubGroupJabatan](
	[IDSubGroupJabatan] [int] NOT NULL,
	[SubGroupJabatan] [nvarchar](150) NULL,
 CONSTRAINT [PK_MFSubGroupJabatan] PRIMARY KEY CLUSTERED 
(
	[IDSubGroupJabatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFTimSiaga]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFTimSiaga](
	[NoUrutTim] [int] NOT NULL,
	[GUIDTim] [nvarchar](50) NOT NULL,
	[NamaTim] [nvarchar](50) NULL,
	[IDUnitKerja] [nvarchar](50) NULL,
	[IsAktif] [nvarchar](1) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[BulanPeriode] [nvarchar](2) NULL,
	[TahunPeriode] [nvarchar](4) NULL,
	[FungsionalTIM] [nvarchar](50) NULL,
	[Shift] [nvarchar](5) NULL,
 CONSTRAINT [PK_MFTimSiaga] PRIMARY KEY CLUSTERED 
(
	[GUIDTim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFTimSiagaAnggota]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFTimSiagaAnggota](
	[GUIDTim] [nvarchar](50) NOT NULL,
	[NIP] [nvarchar](50) NOT NULL,
	[Fungsional] [nvarchar](50) NULL,
	[IsAktif] [nvarchar](1) NULL,
	[IDUnitKerja] [nvarchar](50) NULL,
	[Nourut] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[BulanPeriode] [nvarchar](2) NULL,
	[TahunPeriode] [nvarchar](4) NULL,
	[Shift] [nvarchar](5) NULL,
 CONSTRAINT [PK_MFTimSiagaAnggota] PRIMARY KEY CLUSTERED 
(
	[GUIDTim] ASC,
	[NIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFTR]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFTR](
	[JamLoad] [datetime] NULL,
	[TransaksiID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFTunjangan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFTunjangan](
	[IDTunjangan] [int] IDENTITY(1,1) NOT NULL,
	[JenisTunjangan] [nvarchar](50) NULL,
	[Activity] [nvarchar](50) NULL,
	[Nominal] [float] NULL,
	[TglMulai] [date] NULL,
	[HariKerja] [int] NULL,
	[Fungsional] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[DokReff] [nvarchar](250) NULL,
	[StatusPeg] [int] NULL,
	[IDUnitKerja] [nvarchar](50) NULL,
	[Shift] [nvarchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFTypeSprin]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFTypeSprin](
	[TypeSPrinID] [nvarchar](20) NULL,
	[TypeSprinName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFUnitKerja]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFUnitKerja](
	[IDUnitKerja] [nvarchar](50) NULL,
	[UnitKerjaName] [nvarchar](50) NULL,
	[isUse] [nvarchar](5) NULL,
	[Updateby] [nvarchar](50) NULL,
	[Updatedate] [datetime] NULL,
	[UrutReport] [int] NULL,
	[IsPusat] [int] NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MFUnitKerja] PRIMARY KEY CLUSTERED 
(
	[TransacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MFUnsurKegiatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFUnsurKegiatan](
	[Unsur] [int] NULL,
	[DiskripsiUnsur] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonitoringApp]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringApp](
	[Aplication] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[ComputerIP] [nvarchar](50) NULL,
	[LoginTime] [datetime] NULL,
	[LoginDate] [datetime] NULL,
	[IsOn] [nvarchar](5) NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewMFForm]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewMFForm](
	[FormID] [nvarchar](50) NULL,
	[Formname] [nvarchar](70) NULL,
	[FormType] [nvarchar](20) NULL,
	[Nourut] [int] NULL,
	[Berkas] [nvarchar](50) NULL,
	[PanelPage] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](50) NULL,
	[NoUrutPanel] [int] NULL,
	[Modul] [nvarchar](50) NULL,
	[parentForm] [nvarchar](50) NULL,
	[Model] [int] NULL,
	[Iconfa] [nvarchar](50) NULL,
	[HirarkiLvl] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Otorisasi]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otorisasi](
	[GUIDOto] [nvarchar](100) NULL,
	[Trx] [nvarchar](50) NULL,
	[LevelOto] [int] NULL,
	[Jabatan] [nvarchar](100) NULL,
	[NIP] [nvarchar](50) NULL,
	[Act] [int] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[Perihal] [nvarchar](150) NULL,
	[Keterangan] [nvarchar](150) NULL,
	[IDUnitKerja] [nvarchar](25) NULL,
	[Bulan] [int] NULL,
	[Tahun] [int] NULL,
	[TglPengajuan] [datetime] NULL,
	[TransacID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Otorisasi] PRIMARY KEY CLUSTERED 
(
	[TransacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OtorisasiHistory]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtorisasiHistory](
	[GUIDOto] [nvarchar](100) NULL,
	[Trx] [nvarchar](50) NULL,
	[LevelOto] [int] NULL,
	[Jabatan] [nvarchar](100) NULL,
	[NIP] [nvarchar](50) NULL,
	[Act] [int] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[Perihal] [nvarchar](150) NULL,
	[Keterangan] [nvarchar](150) NULL,
	[IDUnitKerja] [nvarchar](25) NULL,
	[Bulan] [int] NULL,
	[Tahun] [int] NULL,
	[Shift1] [int] NULL,
	[shift2] [int] NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RecDate] [datetime] NULL,
	[TglPengajuan] [datetime] NULL,
 CONSTRAINT [PK_OtorisasiHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pegawai]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pegawai](
	[NIP] [nvarchar](50) NOT NULL,
	[Nama] [nvarchar](70) NOT NULL,
	[Pangkat] [nvarchar](50) NULL,
	[Gol] [nvarchar](10) NULL,
	[Jabatan] [nvarchar](50) NULL,
	[UnitKerja] [nvarchar](50) NULL,
	[FingerID] [nchar](10) NOT NULL,
	[Pass] [nvarchar](50) NULL,
	[Alamat] [nvarchar](50) NULL,
	[JenisKel] [nvarchar](15) NULL,
	[TglLahir] [datetime] NULL,
	[Kelurahan] [nvarchar](50) NULL,
	[Kecamatan] [nvarchar](50) NULL,
	[Kota] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsVIP] [nvarchar](2) NULL,
	[NoTelp] [nvarchar](50) NULL,
	[ClassID] [int] NULL,
	[eselon] [nvarchar](50) NULL,
	[TMTPangkat] [datetime] NULL,
	[isKeluar] [nvarchar](5) NULL,
	[Tglkeluar] [datetime] NULL,
	[AlasanKeluar] [nvarchar](250) NULL,
	[TglMasuk] [datetime] NULL,
	[Mail] [nvarchar](100) NULL,
	[TMTPNS] [date] NULL,
	[TMTCPNS] [date] NULL,
	[GolRecruit] [nvarchar](10) NULL,
	[JabatanID] [int] NULL,
	[StatusPeg] [int] NULL,
	[TMTClass] [date] NULL,
	[TMTJabatan] [date] NULL,
	[TempatLahir] [nvarchar](100) NULL,
	[Agama] [nvarchar](100) NULL,
	[StatusPerkawinan] [nvarchar](2) NULL,
	[NoKTP] [nvarchar](50) NULL,
	[NoNPWP] [nvarchar](50) NULL,
	[Hobi] [nvarchar](150) NULL,
 CONSTRAINT [PK_Pegawai] PRIMARY KEY CLUSTERED 
(
	[NIP] ASC,
	[Nama] ASC,
	[FingerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PegMutasiUnit]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PegMutasiUnit](
	[NIP] [nvarchar](50) NULL,
	[TglMutasi] [date] NULL,
	[UnitKerja] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IDTransaksi] [bigint] IDENTITY(1,1) NOT NULL,
	[NoSK] [nvarchar](50) NULL,
	[Keterangan] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PerubahanJabatan]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerubahanJabatan](
	[JabatanIDLama] [float] NULL,
	[JabatanIDBaru] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Saran]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saran](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RecDate] [datetime] NULL,
	[Saran] [nvarchar](350) NULL,
	[IsPeg] [nvarchar](2) NULL,
	[Nama] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Instansi] [nvarchar](100) NULL,
	[JabatanID] [int] NULL,
	[NIP] [nvarchar](50) NULL,
	[Gol] [nvarchar](20) NULL,
 CONSTRAINT [PK_Saran] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SKPPegawai]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKPPegawai](
	[NIP] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[JabatanID] [int] NULL,
	[Diskripsi] [nvarchar](500) NULL,
	[AK] [float] NULL,
	[Qty] [float] NULL,
	[Mutu] [float] NULL,
	[Waktu] [float] NULL,
	[Biaya] [float] NULL,
	[Unsur] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[TglMulai] [date] NOT NULL,
	[SatuanQty] [nvarchar](50) NULL,
	[SatuanMutu] [nvarchar](50) NULL,
	[SatuanWaktu] [nvarchar](50) NULL,
	[GUIDSKPPeg] [nvarchar](100) NULL,
 CONSTRAINT [PK_SKPPegawai] PRIMARY KEY CLUSTERED 
(
	[NIP] ASC,
	[ItemID] ASC,
	[TglMulai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SKPPegawaiHead]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKPPegawaiHead](
	[NIP] [nvarchar](50) NOT NULL,
	[JabatanID] [int] NOT NULL,
	[TglMulai] [date] NOT NULL,
	[NIPParent] [nvarchar](50) NULL,
	[JabatanIDParent] [nvarchar](50) NULL,
	[GUIDSKPPeg] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[TglPembuatan] [datetime] NULL,
	[Gol] [nvarchar](10) NULL,
	[GolParent] [nvarchar](10) NULL,
 CONSTRAINT [PK_SKPPegawaiHead] PRIMARY KEY CLUSTERED 
(
	[NIP] ASC,
	[JabatanID] ASC,
	[TglMulai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPrinHeader]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPrinHeader](
	[GUIDSprin] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](20) NULL,
	[UpdateDate] [datetime] NULL,
	[RoleNumber] [int] NULL,
	[AbsensiFinger] [nvarchar](2) NULL,
	[TypeSprinID] [nvarchar](20) NULL,
	[TglSprin] [date] NULL,
	[PerihalSprin] [nvarchar](250) NULL,
	[Menimbang1] [nvarchar](250) NULL,
	[Menimbang2] [nvarchar](250) NULL,
	[Menimbang3] [nvarchar](250) NULL,
	[Dasar1] [nvarchar](250) NULL,
	[Dasar2] [nvarchar](250) NULL,
	[Dasar3] [nvarchar](250) NULL,
	[Untuk1] [nvarchar](250) NULL,
	[Untuk2] [nvarchar](250) NULL,
	[Untuk3] [nvarchar](250) NULL,
	[Untuk4] [nvarchar](250) NULL,
	[Untuk5] [nvarchar](250) NULL,
	[JabatanOto] [nvarchar](100) NULL,
	[NIPOto] [nvarchar](50) NULL,
	[NourutSprin] [nvarchar](5) NULL,
	[NoSisipan] [nvarchar](2) NULL,
	[NoSprin] [nvarchar](50) NULL,
	[TglAwalSprin] [date] NULL,
	[TglAkhirSprin] [date] NULL,
	[NoSprinReff] [nvarchar](50) NULL,
	[Penempatan] [nvarchar](150) NULL,
	[StatusUM] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeRecorder]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeRecorder](
	[FingerID] [nvarchar](10) NOT NULL,
	[Waktu] [datetime] NOT NULL,
	[Status] [nvarchar](3) NOT NULL,
	[Mesin] [nvarchar](100) NOT NULL,
	[Ket] [nvarchar](50) NULL,
	[Transaksi] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[KetInject] [nvarchar](150) NULL,
	[ReffInject] [nvarchar](150) NULL,
	[trx] [nvarchar](50) NULL,
 CONSTRAINT [PK_TimeRecorder] PRIMARY KEY CLUSTERED 
(
	[FingerID] ASC,
	[Waktu] ASC,
	[Status] ASC,
	[Mesin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 30/03/2026 14:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[IntLevel] [int] NULL,
	[Modul] [nvarchar](50) NULL,
	[UserID] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_KetIn]  DEFAULT (N'-') FOR [KetIn]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TransaksiIn]  DEFAULT (N'-') FOR [TransaksiIn]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_UpdateInDate]  DEFAULT (getdate()) FOR [UpdateInDate]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_KetOut]  DEFAULT (N'-') FOR [KetOut]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TransaksiOut]  DEFAULT (N'-') FOR [TransaksiOut]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_UpdateOutBy]  DEFAULT (N'-') FOR [UpdateOutBy]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_UpdateOutDate]  DEFAULT (getdate()) FOR [UpdateOutDate]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_KategoriAbsensi]  DEFAULT (N'-') FOR [TingkatTLM]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TotalTLM]  DEFAULT ((0)) FOR [TotalTLM]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TotalPSW]  DEFAULT ((0)) FOR [TotalPSW]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TingkatPSW]  DEFAULT (N'-') FOR [TingkatPSW]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_IsInValid]  DEFAULT (N'N') FOR [IsInValid]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_isOutValid]  DEFAULT (N'N') FOR [isOutValid]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_AwalTLM]  DEFAULT ((0)) FOR [AwalTLM]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_PotonganTLM]  DEFAULT ((0)) FOR [PersenPotTLM]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_PersenPotPSW]  DEFAULT ((0)) FOR [PersenPotPSW]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_TransaksiIDFrom]  DEFAULT (N'-') FOR [TransaksiIDFrom]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_StatusIN]  DEFAULT (N'N') FOR [PendukungIN]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_StatusOut]  DEFAULT (N'N') FOR [PendukungOut]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_HistoryTransaksiIn]  DEFAULT (N'-') FOR [HistoryTransaksiIn]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_HistoryTransaksiOut]  DEFAULT (N'-') FOR [HistoryTransaksiOut]
GO
ALTER TABLE [dbo].[Absensi] ADD  CONSTRAINT [DF_Absensi_StatusUM]  DEFAULT ((1)) FOR [StatusUM]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_AK]  DEFAULT ((0)) FOR [AK]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_Biaya]  DEFAULT ((0)) FOR [Biaya]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_Status]  DEFAULT ((-1)) FOR [Status]
GO
ALTER TABLE [dbo].[BukuHarianHead] ADD  CONSTRAINT [DF_BukuHarianHead_KeteranganPengajuan]  DEFAULT (N'-') FOR [KeteranganPengajuan]
GO
ALTER TABLE [dbo].[DinasLuar] ADD  CONSTRAINT [DF_DinasLuar_Pendukung]  DEFAULT ('N') FOR [Pendukung]
GO
ALTER TABLE [dbo].[DinasLuar] ADD  CONSTRAINT [DF_DinasLuar_StatusUM]  DEFAULT ((1)) FOR [StatusUM]
GO
ALTER TABLE [dbo].[DinasLuar] ADD  CONSTRAINT [DF_DinasLuar_Jenis]  DEFAULT (N'-') FOR [Jenis]
GO
ALTER TABLE [dbo].[DinasLuar] ADD  CONSTRAINT [DF_DinasLuar_NamaFile]  DEFAULT (N'-') FOR [NamaFile]
GO
ALTER TABLE [dbo].[DinasLuar] ADD  CONSTRAINT [DF_DinasLuar_Type]  DEFAULT ((1)) FOR [Tipe]
GO
ALTER TABLE [dbo].[HakAksesForm] ADD  CONSTRAINT [DF_HakAksesForm_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Kalender] ADD  CONSTRAINT [DF_Kalender_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Lembur] ADD  CONSTRAINT [DF_Lembur_Updatedate]  DEFAULT (getdate()) FOR [Updatedate]
GO
ALTER TABLE [dbo].[Lembur] ADD  CONSTRAINT [DF_Lembur_keterangan]  DEFAULT (N'-') FOR [keterangan]
GO
ALTER TABLE [dbo].[Lembur] ADD  CONSTRAINT [DF_Lembur_nosurat]  DEFAULT (N'-') FOR [nosurat]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_shift1]  DEFAULT ((0)) FOR [shift1]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_shift2]  DEFAULT ((0)) FOR [shift2]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_Pengganti]  DEFAULT ((0)) FOR [Pengganti]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_StatusTrx]  DEFAULT (N'-') FOR [StatusTrx]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_ketUpdate]  DEFAULT (N'-') FOR [ketUpdate]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_NIPPengganti]  DEFAULT (N'-') FOR [NIPPengganti]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_Biaya]  DEFAULT ((0)) FOR [Biaya]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[LogActivity] ADD  CONSTRAINT [DF_LogActivity_SatuanQty]  DEFAULT (N'-') FOR [SatuanQty]
GO
ALTER TABLE [dbo].[LogActivityBackUp] ADD  CONSTRAINT [DF_LogActivityBackUp_Pengganti]  DEFAULT ((0)) FOR [Pengganti]
GO
ALTER TABLE [dbo].[LogActivityBackUp] ADD  CONSTRAINT [DF_LogActivityBackUp_KetUpdate]  DEFAULT (N'-') FOR [KetUpdate]
GO
ALTER TABLE [dbo].[LogActivityBackUp] ADD  CONSTRAINT [DF_LogActivityBackUp_NIPPengganti]  DEFAULT (N'-') FOR [NIPPengganti]
GO
ALTER TABLE [dbo].[LogTransaksi] ADD  CONSTRAINT [DF_LogTransaksi_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[MediaInformasi] ADD  CONSTRAINT [DF_MediaInformasi_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[MediaInformasi] ADD  CONSTRAINT [DF_MediaInformasi_NamaFile]  DEFAULT (N'none.jpg') FOR [NamaFile]
GO
ALTER TABLE [dbo].[MediaInformasi] ADD  CONSTRAINT [DF_MediaInformasi_IsAktif]  DEFAULT (N'Y') FOR [IsAktif]
GO
ALTER TABLE [dbo].[MediaInformasi] ADD  CONSTRAINT [DF_MediaInformasi_PIC]  DEFAULT (N'-') FOR [PIC]
GO
ALTER TABLE [dbo].[MediaInformasi] ADD  CONSTRAINT [DF_MediaInformasi_Alamat]  DEFAULT (N'-') FOR [Alamat]
GO
ALTER TABLE [dbo].[MFJamKerja] ADD  CONSTRAINT [DF_MFJamKerja_PenggantianTLM1]  DEFAULT (N'Y') FOR [PenggantianTLM1]
GO
ALTER TABLE [dbo].[MFJamKerja] ADD  CONSTRAINT [DF_MFJamKerja_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_PersenPot]  DEFAULT ((0)) FOR [PersenPot]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_TglMulai]  DEFAULT (getdate()) FOR [TglMulai]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_RangeAwal]  DEFAULT ((0)) FOR [RangeAwal]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_RangeAkhir]  DEFAULT ((0)) FOR [RangeAkhir]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_NamaPot]  DEFAULT (N'-') FOR [NamaPot]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[MFPot] ADD  CONSTRAINT [DF_MFPot_IsPendukung]  DEFAULT (N'Y') FOR [IsPendukung]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_Tingkat]  DEFAULT (N'-') FOR [Tingkat]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_PersenPot]  DEFAULT ((0)) FOR [PersenPot]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_TglMulai]  DEFAULT (getdate()) FOR [TglMulai]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_RangeAwal]  DEFAULT ((0)) FOR [RangeAwal]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_RangeAkhir]  DEFAULT ((0)) FOR [RangeAkhir]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_NamaPot]  DEFAULT (N'-') FOR [NamaPot]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[MFPotongan] ADD  CONSTRAINT [DF_MFPotongan_IsPendukung]  DEFAULT (N'Y') FOR [IsPendukung]
GO
ALTER TABLE [dbo].[MFTimSiaga] ADD  CONSTRAINT [DF_MFTimSiaga_IsAktif]  DEFAULT (N'Y') FOR [IsAktif]
GO
ALTER TABLE [dbo].[MonitoringApp] ADD  CONSTRAINT [DF_MonitoringApp_IsOn]  DEFAULT (N'Y') FOR [IsOn]
GO
ALTER TABLE [dbo].[Otorisasi] ADD  CONSTRAINT [DF_Otorisasi_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Otorisasi] ADD  CONSTRAINT [DF_Otorisasi_TglPengajuan]  DEFAULT (getdate()) FOR [TglPengajuan]
GO
ALTER TABLE [dbo].[OtorisasiHistory] ADD  CONSTRAINT [DF_OtorisasiHistory_RecDate]  DEFAULT (getdate()) FOR [RecDate]
GO
ALTER TABLE [dbo].[OtorisasiHistory] ADD  CONSTRAINT [DF_OtorisasiHistory_TglPengajuan]  DEFAULT (getdate()) FOR [TglPengajuan]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_IsVIP]  DEFAULT (N'N') FOR [IsVIP]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_isKeluar]  DEFAULT (N'N') FOR [isKeluar]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_TempatLahir]  DEFAULT (N'-') FOR [TempatLahir]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_Agama]  DEFAULT (N'-') FOR [Agama]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_StatusPerkawinan]  DEFAULT (N'-') FOR [StatusPerkawinan]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_NoKTP]  DEFAULT (N'-') FOR [NoKTP]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_NoNPWP]  DEFAULT (N'-') FOR [NoNPWP]
GO
ALTER TABLE [dbo].[Pegawai] ADD  CONSTRAINT [DF_Pegawai_Hobi]  DEFAULT (N'-') FOR [Hobi]
GO
ALTER TABLE [dbo].[PegMutasiUnit] ADD  CONSTRAINT [DF_PegMutasiUnit_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[PegMutasiUnit] ADD  CONSTRAINT [DF_PegMutasiUnit_Keterangan]  DEFAULT (N'-') FOR [Keterangan]
GO
ALTER TABLE [dbo].[Saran] ADD  CONSTRAINT [DF_Saran_RecDate]  DEFAULT (getdate()) FOR [RecDate]
GO
ALTER TABLE [dbo].[Saran] ADD  CONSTRAINT [DF_Saran_IsPeg]  DEFAULT (N'N') FOR [IsPeg]
GO
ALTER TABLE [dbo].[SKPPegawaiHead] ADD  CONSTRAINT [DF_SKPPegawaiHead_TglPembuatan]  DEFAULT (getdate()) FOR [TglPembuatan]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_Ket]  DEFAULT (N'-') FOR [Ket]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_Transaksi]  DEFAULT (N'LogFP') FOR [Transaksi]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_UpdateBy]  DEFAULT (N'FP') FOR [UpdateBy]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_KetReff]  DEFAULT (N'-') FOR [KetInject]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_ReffInject]  DEFAULT (N'-') FOR [ReffInject]
GO
ALTER TABLE [dbo].[TimeRecorder] ADD  CONSTRAINT [DF_TimeRecorder_trx]  DEFAULT (N'-') FOR [trx]
GO
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
