<!-- partials/header.html -->
<header class="nxl-header">
    <div class="header-wrapper d-flex justify-content-between align-items-center px-4">
        <div class="header-left d-flex align-items-center gap-2">
            <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
        </div>

        <!-- User Profile -->
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown">
                <img src="assets/images/avatar/1.png" class="rounded-circle me-2" width="35" height="35">
                <span>Auditor</span>
            </a>

            <div class="dropdown-menu dropdown-menu-end shadow-lg border-0 custom-profile-dropdown">
                <div class="card-body p-4 text-center">
                    <div class="avatar-big mb-3">
                        <i class="bi bi-person-circle text-orange" style="font-size: 50px;"></i>
                    </div>
                    <h6 class="fw-bold mb-1 color-primary">414386 - Auditor</h6>
                    <p class="text-muted small mb-0">1 - Operator</p>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-start" style="padding-left: 15px;">
                            <i class="bi bi-display me-2"
                                style="color: #EB6831; font-size: 1.1rem; padding-left: 30px;"></i>
                            <div class="small text-muted">192.168.100.5</div>
                        </div>
                        <a href="signout.html">
                            <button class="btn btn-orange-figma px-4">Sign Out</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>